<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMMUNITY INTRO</title>
</head>
<body>
    <h3>커뮤니티 글 목록 불러오기</h3>
    <p>작동 방법 : {{url}}/community/get</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>range</td>
            <td>{start},{end}</td>
        </tr>
        <tr>
            <td>tag</td>
            <td>{hashtag} (NULLABLE)</td>
        </tr>
        <tr>
            <td>top_id</td>
            <td>{top_board_id} (NULLABLE)</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>meta.count</td>
            <td>number</td>
            <td>글 갯수</td>
        </tr>
        <tr>
            <td>meta.start</td>
            <td>number</td>
            <td>시작점</td>
        </tr>
        <tr>
            <td>mera.end</td>
            <td>number</td>
            <td>끝점</td>
        </tr>
        <tr>
            <td>community[].board.id</td>
            <td>number</td>
            <td>커뮤니티 글 id</td>
        </tr>
        <tr>
            <td>community[].board.content</td>
            <td>string</td>
            <td>커뮤니티 글 내용</td>
        </tr>
        <tr>
            <td>community[].board.like</td>
            <td>number</td>
            <td>커뮤니티 글 좋아요 개수</td>
        </tr>
        <tr>
            <td>community[].board.my_like</td>
            <td>bool</td>
            <td>자신이 해당 글에 좋아요를 눌렀는지</td>
        </tr>
        <tr>
            <td>community[].board.created_at</td>
            <td>date</td>
            <td>커뮤니티 글 작성시간</td>
        </tr>
        <tr>
            <td>community[].board.visit</td>
            <td>number</td>
            <td>커뮤니티 글 방문 수</td>
        </tr>
        <tr>
            <td>community[].board.tag</td>
            <td>string</td>
            <td>커뮤니티 글 게시판</td>
        </tr>
        <tr>
            <td>community[].board.comment_cnt</td>
            <td>number</td>
            <td>커뮤니티 글 댓글 수</td>
        </tr>
        <tr>
            <td>community[].writer.id</td>
            <td>number</td>
            <td>글 작성자 id</td>
        </tr>
        <tr>
            <td>community[].writer.nickname</td>
            <td>string</td>
            <td>글 작성자 닉네임</td>
        </tr>
        <tr>
            <td>community[].writer.profile</td>
            <td>string</td>
            <td>글 작성자 프로필사진 위치</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>커뮤니티, 임시저장 글 업로드</h3>
    <p>작동 방법 : {{url}}/community/board/upload</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>content</td>
            <td>{content}</td>
        </tr>
        <tr>
            <td>tag</td>
            <td>{hashtag} (NULLABLE)</td>
        </tr>
        <tr>
            <td>images</td>
            <td>{image_urls} (url이 쉼표로 구분되어 여러개 가능, NULLABLE)</td>
        </tr>
        <tr>
            <td>temp</td>
            <td>{임시저장일때:True, 업로드일때:False}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>커뮤니티 글 삭제</h3>
    <p>작동 방법 : {{url}}/community/board/delete</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>board_id</td>
            <td>{board_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>커뮤니티 글 좋아요</h3>
    <p>작동 방법 : {{url}}/community/like</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>board_id</td>
            <td>{board_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>좋아요 눌렀을경우 true, 취소했을경우 false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>댓글 작성</h3>
    <p>작동 방법 : {{url}}/community/comment/upload</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>board_id</td>
            <td>{board_id}</td>
        </tr>
        <tr>
            <td>content</td>
            <td>{content}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>댓글 삭제</h3>
    <p>작동 방법 : {{url}}/community/comment/delete</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>comment_id</td>
            <td>{comment_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>대댓글 작성</h3>
    <p>작동 방법 : {{url}}/community/reply/upload</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>comment_id</td>
            <td>{comment_id}</td>
        </tr>
        <tr>
            <td>content</td>
            <td>{content}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>대댓글 삭제</h3>
    <p>작동 방법 : {{url}}/community/reply/delete</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>reply_id</td>
            <td>{reply_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>커뮤니티 글 상세보기</h3>
    <p>작동 방법 : {{url}}/community/board/{board_id}</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>board.id</td>
            <td>number</td>
            <td>본문id</td>
        </tr>
        <tr>
            <td>board.content</td>
            <td>string</td>
            <td>본문 내용</td>
        </tr>
        <tr>
            <td>board.like</td>
            <td>number</td>
            <td>글 좋아요 수</td>
        </tr>
        <tr>
            <td>board.my_like</td>
            <td>bool</td>
            <td>내가 글 좋아요 눌렀는지</td>
        </tr>
        <tr>
            <td>board.created_at</td>
            <td>date</td>
            <td>글 작성시간</td>
        </tr>
        <tr>
            <td>board.visit</td>
            <td>number</td>
            <td>글 방문 수</td>
        </tr>
        <tr>
            <td>board.tag</td>
            <td>string</td>
            <td>글 게시판</td>
        </tr>
        <tr>
            <td>board.comment_cnt</td>
            <td>number</td>
            <td>댓글 수</td>
        </tr>
        <tr>
            <td>board.images[].id</td>
            <td>number</td>
            <td>이미지 id</td>
        </tr>
        <tr>
            <td>board.images[].order</td>
            <td>number</td>
            <td>이미지 순서</td>
        </tr>
        <tr>
            <td>board.images[].image</td>
            <td>string</td>
            <td>이미지 url</td>
        </tr>
        <tr>
            <td>writer.id</td>
            <td>number</td>
            <td>글 작성자 id</td>
        </tr>
        <tr>
            <td>writer.nickname</td>
            <td>string</td>
            <td>글 작성자 닉네임</td>
        </tr>
        <tr>
            <td>writer.profile</td>
            <td>string</td>
            <td>글 작성자 프로필사진 url</td>
        </tr>
        <tr>
            <td>comment[].id</td>
            <td>number</td>
            <td>댓글 id</td>
        </tr>
        <tr>
            <td>comment[].content</td>
            <td>string</td>
            <td>댓글 내용</td>
        </tr>
        <tr>
            <td>comment[].created_at</td>
            <td>date</td>
            <td>댓글 작성 시간</td>
        </tr>
        <tr>
            <td>comment[].writer.id</td>
            <td>number</td>
            <td>댓글 작성자 id</td>
        </tr>
        <tr>
            <td>comment[].writer.nickname</td>
            <td>string</td>
            <td>댓글 작성자 닉네임</td>
        </tr>
        <tr>
            <td>comment[].writer.profile</td>
            <td>string</td>
            <td>댓글 작성자 프로필사진 url</td>
        </tr>
        <tr>
            <td>comment[].reply</td>
            <td>boolean</td>
            <td>대댓글이면 True, 그냥 댓글이면 False</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>커뮤니티 글 이미지 삭제</h3>
    <p>작동 방법 : {{url}}/community/board/image/delete</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>board_id</td>
            <td>{board_id}</td>
        </tr>
        <tr>
            <td>image_id</td>
            <td>{image_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>임시저장 글 목록 불러오기</h3>
    <p>작동 방법 : {{url}}/community/temp/get</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>range</td>
            <td>{start},{end}</td>
        </tr>
    </table>
    <p>임시저장 글 상세보기는 기존 커뮤니티 글 불러오는 방식과 동일하게 가져오면 되고 임시저장 글을 가져온 후 삭제하거나 업로드, 다시 임시저장을 할 경우 업로드 후 기존 글을 삭제해야함</p>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>meta.count</td>
            <td>number</td>
            <td>임시저장 글 갯수</td>
        </tr>
        <tr>
            <td>meta.start</td>
            <td>number</td>
            <td>시작점</td>
        </tr>
        <tr>
            <td>meta.end</td>
            <td>number</td>
            <td>끝점</td>
        </tr>
        <tr>
            <td>community[].id</td>
            <td>number</td>
            <td>임시저장 글 id</td>
        </tr>
        <tr>
            <td>community[].content</td>
            <td>string</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>community[].tag</td>
            <td>string</td>
            <td>게시판</td>
        </tr>
    </table>
</body>
</html>