<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>로그인</h3>
    <p>작동 방법 : {{url}}/user/login</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>platform</td>
            <td>{이메일:0, 카카오:1, 네이버:2}</td>
        </tr>
        <tr>
            <td>token</td>
            <td>{token} (카카오나 네이버일때만 입력)</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{email} (이메일로 로그인일때만 입력)</td>
        </tr>
        <tr>
            <td>password</td>
            <td>{password} (이메일로 로그인일때만 입력)</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>id</td>
            <td>number, bool</td>
            <td>로그인 성공할경우 사용자id, 존재하지 않는 계정일경우 false, 비밀번호가 틀릴경우 true</td>
        </tr>
        <tr>
            <td>access</td>
            <td>bool</td>
            <td>로그인 성공할경우 true, 실패할경우 false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>회원가입</h3>
    <p>작동 방법 : {{url}}/user/join</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>platform</td>
            <td>{이메일:0, 카카오:1, 네이버:2}</td>
        </tr>
        <tr>
            <td>token</td>
            <td>{token} (카카오나 네이버일때만 입력)</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{email} (카카오나 네이버일때는 생략 가능)</td>
        </tr>
        <tr>
            <td>password</td>
            <td>{password} (이메일일때만 입력)</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{user_name}</td>
        </tr>
        <tr>
            <td>nickname</td>
            <td>{nickname}</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>{phone_number} (NULLABLE)</td>
        </tr>
        <tr>
            <td>age</td>
            <td>{user_age} (NULLABLE)</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>access</td>
            <td>bool</td>
            <td>회원가입 성공할경우 true, 실패할경우 false</td>
        </tr>
        <tr>
            <td>message</td>
            <td>number, string</td>
            <td>회원가입 성공했을 경우 사용자id, 실패했을 때 이미 존재하는 사용자일경우 ALREADY USER, 이미 존재하는 닉네임일 경우 ALREADY NICKNAME</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>닉네임변경</h3>
    <p>작동 방법 : {{url}}/user/nickname/set</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>nickname</td>
            <td>{nickname}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>access</td>
            <td>bool</td>
            <td>닉네임 변경 성공할경우 true, 실패할경우 false</td>
        </tr>
        <tr>
            <td>message</td>
            <td>string</td>
            <td>닉네임 변경 성공했을 경우 SUCCESS, 실패했을 때 이미 존재하는 닉네임일 경우 ALREADY NICKNAME</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>차단목록</h3>
    <p>작동 방법 : {{url}}/user/block</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>meta.count</td>
            <td>number</td>
            <td>차단한 유저 수</td>
        </tr>
        <tr>
            <td>user[].id</td>
            <td>number</td>
            <td>차단한 사용자 id</td>
        </tr>
        <tr>
            <td>user[].nickname</td>
            <td>string</td>
            <td>차단한 사용자 닉네임</td>
        </tr>
        <tr>
            <td>user[].profile</td>
            <td>string</td>
            <td>차단한 사용자 프사 url</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>상대방 차단하기</h3>
    <p>작동 방법 : {{url}}/user/block/add<p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>his_id</td>
            <td>{target_user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>성공할경우 true, 이미 차단한 사용자일경우 false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>차단 해제</h3>
    <p>작동 방법 : {{url}}/user/block/delete</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>his_id</td>
            <td>{target_user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>성공할경우 true, 이미 차단 해제한 사용자일경우 false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>유저 평가 불러오기</h3>
    <p>작동 방법 : {{url}}/user/comment</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>meta.count</td>
            <td>number</td>
            <td>평가 수</td>
        </tr>
        <tr>
            <td>average</td>
            <td>number</td>
            <td>평균 점수</td>
        </tr>
        <tr>
            <td>comment[].id</td>
            <td>number</td>
            <td>평가글id</td>
        </tr>
        <tr>
            <td>comment[].score</td>
            <td>number</td>
            <td>평가 점수</td>
        </tr>
        <tr>
            <td>comment[].content</td>
            <td>string</td>
            <td>평가 내용</td>
        </tr>
        <tr>
            <td>comment[].writer.id</td>
            <td>number</td>
            <td>평가글 작성자 id</td>
        </tr>
        <tr>
            <td>comment[].writer.nickname</td>
            <td>string</td>
            <td>평가글 작성자 닉네임</td>
        </tr>
        <tr>
            <td>comment[].writer.profile</td>
            <td>string</td>
            <td>평가글 작성자 프사 url</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>유저 평가 추가, 수정</h3>
    <p>작동 방법 : {{url}}/user/comment/add</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{writer_id}</td>
        </tr>
        <tr>
            <td>his_id</td>
            <td>{target_user_id}</td>
        </tr>
        <tr>
            <td>score</td>
            <td>{score} (1~10)</td>
        </tr>
        <tr>
            <td>content</td>
            <td>{content}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
    <!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>사용자 프로필</h3>
    <p>사용 방법 : {{url}}/user/profile</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>id</td>
            <td>number</td>
            <td>사용자 id</td>
        </tr>
        <tr>
            <td>nickname</td>
            <td>string</td>
            <td>사용자 닉네임</td>
        </tr>
        <tr>
            <td>profile</td>
            <td>string</td>
            <td>사용자 프사 url</td>
        </tr>
        <tr>
            <td>score</td>
            <td>number</td>
            <td>사용자 평균 평가 점수</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>사용자 프로필사진 변경</h3>
    <p>사용 방법 : {{url}}/user/profile/image/set</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>image_url</td>
            <td>{image_url}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>작동 여부</td>
        </tr>
        <tr>
            <td>id</td>
            <td>number</td>
            <td>사용자 id</td>
        </tr>
        <tr>
            <td>image</td>
            <td>string</td>
            <td>프로필사진 url</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>닉네임 사용 가능 확인</h3>
    <p>사용 방법 : {{url}}/user/posible_nickname</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>nickname</td>
            <td>{nickname}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>사용 가능하면 True, 불가능하면 False</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>firebase 토큰 저장</h3>
    <p>사용 방법 : {{url}}/user/push_token/set</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>token</td>
            <td>{firebase_token}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>True, False</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>채팅 사용자 프로필 가져오기</h3>
    <p>사용 방법 : {{url}}/user/profile/chat</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>id</td>
            <td>number</td>
            <td>사용자id</td>
        </tr>
        <tr>
            <td>nickname</td>
            <td>string</td>
            <td>닉네임</td>
        </tr>
        <tr>
            <td>image</td>
            <td>string</td>
            <td>사용자 프사 위치</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>친구목록</h3>
    <p>사용 방법 : {{url}}/user/friend</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>count</td>
            <td>number</td>
            <td>친구 수</td>
        </tr>
        <tr>
            <td>friends[].id</td>
            <td>number</td>
            <td>친구id</td>
        </tr>
        <tr>
            <td>friends[].nickname</td>
            <td>string</td>
            <td>친구 닉네임</td>
        </tr>
        <tr>
            <td>friends[].image</td>
            <td>string</td>
            <td>친구 프사 경로</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>친구 요청, 수락</h3>
    <p>사용 방법 : {{url}}/user/friend/add</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>his_id</td>
            <td>{target_user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>boolean</td>
            <td>True, False</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>친구 요청 취소, 친구 삭제</h3>
    <p>사용 방법 : {{url}}/user/friend/delete</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>his_id</td>
            <td>{target_user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>boolean</td>
            <td>True, False</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>친구 요청받은 목록</h3>
    <p>사용 방법 : {{url}}/user/friend/receive</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>count</td>
            <td>number</td>
            <td>요청 수</td>
        </tr>
        <tr>
            <td>friends[].id</td>
            <td>number</td>
            <td>친구요청자id</td>
        </tr>
        <tr>
            <td>friends[].nickname</td>
            <td>string</td>
            <td>친구요청자 닉네임</td>
        </tr>
        <tr>
            <td>friends[].image</td>
            <td>string</td>
            <td>친구요청자 프사 경로</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>친구 요청한 목록</h3>
    <p>사용 방법 : {{url}}/user/friend/send</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>count</td>
            <td>number</td>
            <td>요청 수</td>
        </tr>
        <tr>
            <td>friends[].id</td>
            <td>number</td>
            <td>친구요청자 id</td>
        </tr>
        <tr>
            <td>friends[].nickname</td>
            <td>string</td>
            <td>친구요청자 닉네임</td>
        </tr>
        <tr>
            <td>friends[].image</td>
            <td>string</td>
            <td>친구요청자 프사 경로</td>
        </tr>
    </table>
</body>
</html>