<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAFE INTRO</title>
</head>
<body>
    <h3>카페 리스트</h3>
    <p>작동 방법 : cafe/list?coords={user coords (NULLABLE)}&sort={찜많은순:0, 가까운순:1 (coords가 주어졌을때만 가능), 가격낮은순:2}&range={range}&cafe_name={search_cafename (NULLABLE)}</p>
    <p>ex : {{url}}/cafe/list?coors=127.12123,12.134&sort=0&range=1,11</p>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>meta.count</td>
            <td>number</td>
            <td>불러온 카페 개수</td>
        </tr>
        <tr>
            <td>meta.start</td>
            <td>number</td>
            <td>시작점</td>
        </tr>
        <tr>
            <td>meta.end</td>
            <td>number</td>
            <td>끝점</td>
        </tr>
        <tr>
            <td>cafe[].id</td>
            <td>number</td>
            <td>카페 id</td>
        </tr>
        <tr>
            <td>cafe[].name</td>
            <td>string</td>
            <td>카페 이름</td>
        </tr>
        <tr>
            <td>cafe[].address</td>
            <td>string</td>
            <td>도로명주소</td>
        </tr>
        <tr>
            <td>cafe[].coords</td>
            <td>string</td>
            <td>위경도 format(latitude,longitude)</td>
        </tr>
        <tr>
            <td>cafe[].profile</td>
            <td>string</td>
            <td>카페 프사 위치</td>
        </tr>
        <tr>
            <td>cafe[].table_cnt</td>
            <td>number</td>
            <td>카페 테이블 개수</td>
        </tr>
        <tr>
            <td>cafe[].open</td>
            <td>time</td>
            <td>카페 당일 오픈 시간 format(HH:mm:ss)</td>
        </tr>
        <tr>
            <td>cafe[].close</td>
            <td>time</td>
            <td>카페 당일 클로즈 시간 format(HH:mm:ss)</td>
        </tr>
        <tr>
            <td>cafe[].like</td>
            <td>number</td>
            <td>카페 찜한사람 수</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>카페 상세</h3>
    <p>작동 방법 : cafe/{cafe_id}</p>
    <p>ex : {{url}}/cafe/1</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>id</td>
            <td>number</td>
            <td>카페 id</td>
        </tr>
        <tr>
            <td>name</td>
            <td>string</td>
            <td>카페 이름</td>
        </tr>
        <tr>
            <td>address</td>
            <td>string</td>
            <td>도로명주소</td>
        </tr>
        <tr>
            <td>coords</td>
            <td>string</td>
            <td>위경도 format(latitude,longitude)</td>
        </tr>
        <tr>
            <td>table_cnt</td>
            <td>number</td>
            <td>카페 테이블 개수</td>
        </tr>
        <tr>
            <td>open</td>
            <td>time</td>
            <td>카페 당일 오픈 시간 format(HH:mm:ss)</td>
        </tr>
        <tr>
            <td>close</td>
            <td>time</td>
            <td>카페 당일 클로즈 시간 format(HH:mm:ss)</td>
        </tr>
        <tr>
            <td>like</td>
            <td>number</td>
            <td>카페 찜한사람 수</td>
        </tr>
        <tr>
            <td>image[]</td>
            <td>string</td>
            <td>카페 사진들</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>찜한 카페 목록</h3>
    <p>작동 방법 : cafe/fav?user_id={user_id}</p>
    <p>ex : {{url}}/cafe/fav?user_id=1</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>meta.count</td>
            <td>number</td>
            <td>카페 개수</td>
        </tr>
        <tr>
            <td>cafe[].id</td>
            <td>number</td>
            <td>카페 id</td>
        </tr>
        <tr>
            <td>cafe[].name</td>
            <td>string</td>
            <td>카페 이름</td>
        </tr>
        <tr>
            <td>cafe[].profile</td>
            <td>string</td>
            <td>키페 프사 위치</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>찜 카페 추가</h3>
    <p>작동 방법 : cafe/fav/add?user_id={user_id}&cafe_id={cafe_id}</p>
    <p>ex : {{url}}/cafe/fav/add?user_id=1&cafe_id=1</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <br>
    <h3>찜 카페 삭제</h3>
    <p>작동 방법 : cafe/fav/delete?user_id={user_id}&cafe_id={cafe_id}</p>
    <p>ex : {{url}}/cafe/fav/delete?user_id=1&cafe_id=1</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>act</td>
            <td>bool</td>
            <td>true, false</td>
        </tr>
    </table>
</body>
</html>