<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>
    사용 방법 안내
</h1>
<br>

<h3>
    {{ url }}
</h3>
<br>

<h5>
    리턴 정보중 소괄호 내의 정보는 반복될 수 있음<br>
    이미지 가져오는 방법 : 서버 링크 + 이미지 경로<br>
    리턴 정보중 소괄호 안에 있는 정보들은 여러개가 주어질 수 있음<br>
    id는 사용자에게 보여지면 안됨<br>
    url은 인코딩해야하는것으로 알고있음<br>
    Http method를 명시하지 않은 경우는 POST로 요청<br>
    이미지가 존재하지 않을 경우 0을 리턴함<br>
</h5>
<br>

<a href="/game/">보드게임 관련 REST API 안내</a>
<br><br>
<a href="/community/">커뮤니티 관련 안내</a>
<br><br>
<a href="/cafe/">카페 관련 안내</a>
<br><br>
<a href="/user/">사용자 관련 안내</a>
<br><br>
<a href="/message/">메시지 관련 안내</a>
<br><br>
<a href="/funding/">펀딩 관련 안내</a>

<p>1. message 부분 푸시 알림 완료</p>
<p>2. user부분에 firebase message token, push token 추가했으니 최하단 확인, 사용자 프로필 가져오는 부분에서 message token 추가</p>
<p>3. 이미지 전부 string형식 url로 변경 완료</p>
<p>4. 카페 찜 true false 제공. 카페 리스트랑 상세정보 부분에 user_id request 추가되었음</p>
<p>5. 카페 정렬 기준 수정</p>
<p>6. 게임, 카페 이미지가 잘 작동되지 않는 현상 해결</p>
<p>7. 게임 부분에도 자신이 위시리스트에 추가 했는지 안했는지 표시. url에 user_id 추가됨</p>
<p>8. 채팅방 관련 부분 제작 완료</p>
<p>9. 모든 HTTP method를 GET 방식에서 POST방식으로 교체 완료</p>
<p>10. 커뮤니티 글 임시저장 제작 완료. 임시저장은 기존 커뮤니티 글 업로드에서 함</p>
<p>11. 커뮤니티 글, 댓글 신고 제작 완료</p>
<p>12. user부분에 친구 관련 기능 제작 완료</p>
</body>
</html>