<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>
    사용 방법 안내
</h1>
<br>

<h3>
    {{ url }}
</h3>
<br>

<h5>
    이번주 안에 html 전부 json으로 변경 예정<br>
    리턴 정보중 소괄호 내의 정보는 반복될 수 있음<br>
    이미지 가져오는 방법 : 서버 링크 + 이미지 경로<br>
    작동 방법 안에 쓰여져있는 한글은 변수를 입력하는 칸<br>
    리턴 정보중 소괄호 안에 있는 정보들은 여러개가 주어질 수 있음<br>
    id는 사용자에게 보여지면 안됨<br>
    url은 인코딩해야하는것으로 알고있음<br>
</h5>
<br>

<a href="/game/">보드게임 관련 REST API 안내</a>
<br><br>
<a href="/community/">커뮤니티 관련 REST API 안내</a>
<br><br>
<a href="/cafe/">카페 관련 REST API 안내</a>
<br><br>
<a href="/user/">사용자 관련 REST API 안내</a>

</body>
</html>