<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MESSAGE INTRO</title>
</head>
<body>
    <h3>메시지 전송 알림</h3>
    <p>작동 방법 : {{url}}/message/send</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>writer_id</td>
            <td>{writer_id}</td>
        </tr>
        <tr>
            <td>target_id</td>
            <td>{target_user_id}</td>
        </tr>
        <tr>
            <td>content</td>
            <td>{content}</td>
        </tr>
    </table>
    <p>존재하지 않는 토큰일경우 오류 발생</p>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>response</td>
            <td>string</td>
            <td>firebase push response</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <h3>채팅방 목록 불러오기</h3>
    <p>작동 방법 : {{url}}/message/room/list</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>count</td>
            <td>number</td>
            <td>채팅방 갯수</td>
        </tr>
        <tr>
            <td>rooms[i].id</td>
            <td>number</td>
            <td>채팅방 id</td>
        </tr>
        <tr>
            <td>rooms[i].token</td>
            <td>string</td>
            <td>채팅방 토큰</td>
        </tr>
        <tr>
            <td>rooms[i].user_count</td>
            <td>number</td>
            <td>채팅방 참여자 수 (자신 제외)</td>
        </tr>
        <tr>
            <td>rooms[i].users[j].id</td>
            <td>number</td>
            <td>채팅방 참여자 id</td>
        </tr>
        <tr>
            <td>rooms[i].users[j].nickname</td>
            <td>string</td>
            <td>채팅방 참여자 닉네임</td>
        </tr>
        <tr>
            <td>rooms[i].users[j].image</td>
            <td>string</td>
            <td>채팅방 참여자 프사 url</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
    <h3>채팅방 불러오기</h3>
    <p>작동 방법 : {{url}}/message/room</p>
    <p>body</p>
    <table border="2">
        <th scope="col">KEY</th>
        <th scope="col">VALUE</th>
        <tr>
            <td>user_id</td>
            <td>{user_id}</td>
        </tr>
        <tr>
            <td>his_id</td>
            <td>{other_user_id}</td>
        </tr>
    </table>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>id</td>
            <td>number</td>
            <td>채팅방 id</td>
        </tr>
        <tr>
            <td>token</td>
            <td>string</td>
            <td>채팅방 토큰</td>
        </tr>
        <tr>
            <td>user_count</td>
            <td>number</td>
            <td>채팅방 참여자 수 (자신 제외)</td>
        </tr>
        <tr>
            <td>users[i].id</td>
            <td>number</td>
            <td>채팅방 참여자 id</td>
        </tr>
        <tr>
            <td>users[i].nickname</td>
            <td>number</td>
            <td>채팅방 참여자 닉네임</td>
        </tr>
        <tr>
            <td>users[i].image</td>
            <td>string</td>
            <td>채팅방 참여자 프사 url</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
</body>
</html>