<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MESSAGE INTRO</title>
</head>
<body>
    <h3>메시지 전송 알림</h3>
    <p>작동 방법 : message/send?writer_id={writer_id}&target_id={target_user_id}&content={content}</p>
    <p>ex : {{url}}/message/send?writer_id=1&target_id=2&content=이미지</p>
    <p>존재하지 않는 토큰일경우 오류 발생</p>
    <p>응답</p>
    <table border="2">
        <th scope="col">속성</th>
        <th scope="col">데이터타입</th>
        <th scope="col">설명</th>
        <tr>
            <td>response</td>
            <td>string</td>
            <td>firebase push response</td>
        </tr>
    </table>
<!-- ---------------------------------------------------------------------------------- -->
</body>
</html>